<div class="container">
  <div class="buttons">
    
    <div>
      <button (click)="removeDuplicates()">Remove Duplicates</button>
    </div>
    <div>
      <input class="search" placeholder="search" (input)="filterData($event)">
    </div>
  
  </div>
  <wj-flex-grid #flex [itemsSource]="data" 
  [allowSorting]="true" (sortedColumn)="onSortIconClick(flex,$event)"
  class="custom-color">
    <ng-container *ngFor="let col of grid">
      <wj-flex-grid-column
      [header]="col.header" [binding]="col.binding">
      </wj-flex-grid-column>
    </ng-container>
  </wj-flex-grid>
</div>
