<div class="buttons">
  <div>
    <button (click)="removeDuplicates()">Remove Duplicates</button>
  </div>
  <div>
    <input class="search" placeholder="search" (input)="filterData($event)">
  </div>
  <div></div>
</div>
<wj-flex-grid #flex [itemsSource]="data">
  <wj-flex-grid-filter></wj-flex-grid-filter>
<wj-flex-grid-column [header]="'ID'" [binding]="'empId'"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Name'" [binding]="'employeeName'"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Department'" [binding]="'departmentName'"></wj-flex-grid-column>
  <wj-flex-grid-column [header]="'Salary'" [binding]="'salary'"></wj-flex-grid-column>
</wj-flex-grid>

